.cls-0, .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
	background-color: #777;
}

.cls-6, .cls-7, .cls-8 {
	background-color: #668B8B;
}

.cls-9, .cls-10, .cls-11 {
	background-color: #39B7CD;
}

.cls-12, .cls-13, .cls-14 {
	background-color: #FFA500;
}

.cls-12, .cls-13, .cls-14 {
	background-color: #FF0000;
}

